<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>kkm</p>
            <p><a href="mailto:djkehh@gmail.com">kkm@gmail.com</a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <P>#java</P>
        </aside>

        <section>
            <p>본문<br><br><</p>

            <div>
                <form>
                    <label for="articleComment" hidden>댓글</label>
                    <textarea id="articleComment" placeholder="댓글 쓰기"></textarea>
                    <button type="submit">쓰기</button>
                </form>
            </div>

            <ul>
                <li>
                    <time><small>2022-01-01</small></time>
                    <strong>kkm</strong>
                    <p>
                        Lorem insdasdq wdsad qwdsadawqdwq
                        asldqwdiqwd ksd qwdjqiw djsdkqwkdwqdq
                    </p>
                </li>
                <li>
                    <time><small>2022-01-01</small></time>
                    <strong>kkm</strong>
                    <p>
                        Lorem insdasdq wdsad qwdsadawqdwq
                        asldqwdiqwd ksd qwdjqiw djsdkqwkdwqdq
                    </p>
                </li>
            </ul>

            <nav>
                <a href="#">이전 글</a>
                <a href="#">다음 글</a>
            </nav>
        </section>

        <footer id="footer"></footer>
    </main>
</body>
</html>